.placeorfer {
  padding: 30px;
  padding-top: 160px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.placeorder-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.placeorder-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: black;
}

.placeorder-left input {
  margin-bottom: 25px;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  outline-color: tomato;
  color: black;
}

.placeorder-left .order-fields {
  display: flex;
  gap: 10px;
}

.placeorder-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-right: 15vw;
  padding: 5px 70px;
  background-color: rgb(221, 226, 226);
  border-radius: 10px;
}

.placeorder-right h2 {
  color: black;
}
.placeorder-right p {
  color: black;
}

@media (max-width: 1000px) {
  .placeorfer {
    flex-direction: column;
  }

  .placeorder-right {
    width: 100%;
    text-align: center;
    margin-right: 20px;
  }
}
