.bookDisplay {
  margin-top: 30px;
  padding: 20px;
}

.searchbar h2 {
  font-size: max(2vw, 24 px);
  font-weight: 600;
  color: black;
  margin-right: 20px;
}

.book-display-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  gap: 20px;
  row-gap: 50px;
}

.bookDisplay hr {
  height: 1px solid black;
}

.searchbar {
  display: flex;
  padding-bottom: 50px;
}

.searchbar input {
  width: 30vw;
  height: 40px;
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 6px;
  color: black;
}

@media (max-width: 1300px) {
  .book-display-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .book-display-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .book-display-list {
    grid-template-columns: 1fr;
  }
}
