.addpastpapers {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  font-size: 16px;
  margin-bottom: 40px;
}

.addpastpapers form {
  gap: 30px;
}

.addpastpapers p {
  color: white;
  font-size: 18px;
}

.addpastpapers-img-upload img {
  width: 80px;
  padding-top: 20px;
}

.addpastpapers-part,
.addpastpapers-subject,
.addpastpapers-grade {
  width: max(40%, 280px);
}

.addpastpapers-part select,
.addpastpapers-subject select,
.addpastpapers-grade select {
  background: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  outline: none;
}

.addpastpapers-button {
  max-width: 180px;
  padding: 15px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  background-color: tomato;
  color: black;
  margin-left: 10px;
}
.addpastpapers-button:hover {
  background-color: rgb(225, 73, 73);
}
