.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

.navbar-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 17px;
}

.navbar li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar-right button {
  padding: 4px 12px;
  border-radius: 6px;
  background: whITE;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  /* box-shadow: 0 0 4px 4px; */
}

.navbar-right button:hover {
  background-color: rgb(224, 221, 215);
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}

.left-navbar img {
  width: 75%;
}
.navbar-right img {
  width: 23px;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: inherit;
  left: 20px;
}

/*===============media=============================*/

@media (max-width: 1050px) {
  .left-navbar img {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .left-navbar img {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
