.sidebar {
  width: 18%;
  min-height: 100vh;
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
  font-size: max(1vw, 10px);
}

.sidebar-options {
  padding-top: 50px;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid gray;
  border-right: 0;
  padding: 8px 10px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
}

.option img {
  width: 30px;
}

@media (max-width: 750px) {
  .sidebar p {
    display: none;
  }
}

.option.active {
  background-color: rgb(44, 42, 42);
  border-color: tomato;
}
