.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid tomato;
  margin-bottom: 30px;
}
.order h3 {
  color: white;
  font-size: 30px;
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 12px;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 15px 8px;
  }
}
