.appDownload {
  margin: auto auto;
  margin-top: 100px;
  font-size: max(3vw, 20px);
  text-align: center;
  padding-bottom: 100px;
}

.appDownload p {
  font-weight: 600;
  color: black;
}

.download-platforms {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
}

.download-platforms img {
  margin-top: 30px;
  width: max(30vw, 120px);
  max-width: 180px;
  transition: 0.5s;
  cursor: pointer;
}

.download-platforms img:hover {
  transform: scale(1.05);
}
