.schoolBooks {
  margin-top: 110px;
  padding: 20px;
}

.schoolBooks h1 {
  font-size: max(2vw, 24 px);
  font-weight: 600;
  color: black;
}

.schoolBooks-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.sc-searchbar {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin-bottom: 20px;
  background-color: #ccc;
  padding: 20px;
  margin: 10 40px;
}

.sc-searchbar label {
  color: black;
}

.schoolBookSearch-input {
  padding: 8px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
  color: black;
}
