.myorders {
  margin: 50px 0px;
}

.myorders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.myorders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid tomato;
}

.myorders-order img {
  width: 50px;
}

.myorders-order p span {
  color: tomato;
}

.myorders-order p b {
  font-weight: 500;
  color: yellow;
}

.myorders-order button {
  border: none;
  padding: 12px 0px;
  border-radius: 5px;
  color: blue;
  font-size: 10px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 900px) {
  .myorders-order {
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 5px;
    font-size: 10px;
  }
}
