/* Header.css */
.header {
  text-align: center;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
}

.header-left {
  max-width: 600px;
  margin-right: 15vw;
  padding-top: 50px;
}

.header-left img {
  width: 300px;
}

.header-content h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  outline: red;
  outline-width: 4px;
}

.header-content span {
  color: red;
}

.header-content p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ffffff;
  align-self: flex-start;
}

.headerButtonContainerr {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  left: 100px;
  flex-direction: column;
}

.header-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 60px 0;
  border-radius: 20px;
  text-decoration: none;

  width: 30vw;
}
.header-button:hover {
  background-color: #0056b3;
}

.header-right-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-add {
  background-color: #e30f0f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 60px 0;
  border-radius: 15px;
  text-decoration: none;
  width: 14vw;
}
.header-button-add:hover {
  background-color: #870c0c;
}
