.exploreMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exploreMenu h1 {
}

.exploreMenu-text {
  max-width: 60%;
}

.exploreMenu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow: scroll;
}

.exploreMenu-list::-webkit-scrollbar {
  display: none;
}

.exploreMenu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.exploreMenu-list-item p {
  margin-top: 10px;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.exploreMenu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: white;
  border: none;
}

.exploreMenu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
}
